
@using ManageSemester.Models
@model ManageSemester.ViewModels.CourseIndexData

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
@{
    var TempDataTest = (TempData["ErrorMessage"]);

    <div>

        <h5 style="color: red">@TempDataTest</h5>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <p>
        Start Date: @Html.TextBox("start")
    </p>
    <p>
        End Date: @Html.TextBox("end")
    </p>
    <p>
        <input type="submit" value="Search by Date" />
    </p>
}


<table class="table">
    <tr>
        <th>
            CourseID
        </th>
        <th>
            Title
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            IsApproved
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Courses)
    {
        string selectedRow = "";
        if (item.CourseID == ViewBag.CourseID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollments.Count)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { courseId = item.CourseID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>
@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Gender</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                <td>
                    @(item.Student.Gender ? "Male" : "Female")
                </td>
            </tr>
        }
    </table>
}
